h1{
    margin-top:60px;
        font-family: 'Oswald', sans-serif;
}

h3{
       margin-top: 60px;
    font-family: 'Oswald', sans-serif;
}

p{
    font-family: 'Oswald', sans-serif;

}
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a:link{
    color: goldenrod;
    text-decoration: none;
}
a:visited{
    color: goldenrod;
}
a:hover, a:active, a:focus {
    color: goldenrod;
}
body { 
    font-family: 'Oswald', sans-serif;
    font-stretch: condensed;
}
a:link{
    color: goldenrod;
    text-decoration: none;
}
a:visited{
    color: goldenrod;
}
a:hover, a:active, a:focus {
    color: goldenrod;
}
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: midnightblue;
  position: fixed;
  width: 100%;
    top: -2%;
    
}
li {
  float: left;
 border-right: 5px solid goldenrod;
}

li a {
  display: block;
  text-align: center;
  padding: 15.5px 20px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: green;
}
.bhslink {
    border-left: 5px solid goldenrod;
}

/*this affects the titles*/
.heading{
    display: flex;
    justify-content: center;
    color:black;
    font-size: 25px;
    padding: 2px;
    border-bottom: solid;
    border-bottom-color: midnightblue;
    border-width: thick;
    margin-right: 10px
   
}
/*this affects the explanations of the topics*/
.body{
    display: flex;
    justify-content: center;
    color:black 
}
.active {
    background-color: midnightblue;
}
.container {
    margin-left:auto;
    margin-right:auto;
}

/*box around body*/
.box{
    border: 2px darkgoldenrod solid;
    padding: 5px;
    margin: 10px;
}

.h1 {
    margin-top: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
  grid-template-rows: 500px auto; 
 
}
.grid-item {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
   padding: 20px;
  font-size: 30px;
  text-align: center;
  
}
/*this affects the heading*/
.banner{ 
  grid-column:span 2;
  background-color: white;
   border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
    margin-top: 80px;
    width:100%;
  }

.bg-image {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Budget-1_notre_dame.jpg");
  
  height: 100%; 
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0);
    /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  width: 100%;
  text-align: center;
}
