body { 
    font-family: 'Oswald', sans-serif;
    font-stretch: condensed;
}
h3{
    margin-top: 60px;
}
* {
    margin:0;
    padding:0;
}
a:link{
    color: goldenrod;
    text-decoration: none;
}
a:visited{
    color: goldenrod;
}
a:hover, a:active, a:focus {
    color: goldenrod;
}

a:link{
    color: goldenrod;
    text-decoration: none;
}
a:visited{
    color: darkgoldenrod;
}
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: midnightblue;
  position: fixed;
  width: 100%;
    top: 0px;
    
}
li {
  float: left;
 border-right: 5px solid goldenrod;
}

li a {
  display: flex;
  text-align: center;
  padding: 15.5px 20px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: green;
}
.bhslink {
    border-left: 5px solid goldenrod;
}
