/*overarching body css*/
body {
    font-family: 'Oswald', sans-serif;
}
/*end of body*/

/*title grid*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 160px auto;
}
    /*faqs title css*/
h1{
    color: goldenrod;
    background-color: midnightblue;
    margin-top:100px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    margin-right: 10%;
    text-align: left;
}
    /*end of faqs title*/
/*end of title grid*/

/*body grid*/
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  grid-column: span 2;
}
/*end of body grid*/

/*faqs title - header*/
.header {
     grid-column: span 2;
}
/*end of header*/

/*navigation css*/
a:link{
    color: goldenrod;
    text-decoration: none;
}
a:visited{
    color: goldenrod;
}
a:hover, a:active, a:focus {
    color: goldenrod;
}
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: midnightblue;
  position: fixed;
  width: 100%;
  top:-2%;
}
li {
 float: left;
 border-right: 5px solid goldenrod;
 font-size: 100%;
}
li a {
  display: flex;
  text-align: center;
  padding: 15.5px 20px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: green;
}
.bhslink {
    border-left: 5px solid goldenrod;
}
/*end of navigation css*/

/*question bar css*/
h3{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    border-bottom: solid;
    border-bottom-color: midnightblue;
    border-width: thick;
    padding-bottom: 1%;
    margin-right: auto;
}
    /*answer bar css*/
p{
   
    border-width: medium;
    border: solid;
    border-color: goldenrod;
    padding:20px;
    font-size: 100%
}
    /*end of answer bar*/
/*end of quesstion bar*/

/*category bar css*/
h2 {
    color: goldenrod;
    background-color: midnightblue;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left:1%; 
    text-align: left;
    margin-right:30%;
    
}
/*end of category bar*/
